<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://unpkg.com/react@16/umd/react.development.js" crossorigin></script>
    <script src="https://unpkg.com/react-dom@16/umd/react-dom.development.js" crossorigin></script>
    <<link rel="stylesheet" type="text/css" href="./weather.css">
    <!-- these load react so that we can create and update our webpage-->
    <title>Cool Weather App</title>
</head>
<body>
    <div id="root"></div>

  <script src="./react.js"></script>
</body>
</html>